<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdonisUI" version="1.16.0" targetFramework="net45" />
  <package id="AdonisUI.ClassicTheme" version="1.16.0" targetFramework="net45" />
  <package id="Autoupdater.NET.Official" version="1.6.3" targetFramework="net45" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net45" />
  <package id="Fody" version="6.2.6" targetFramework="net45" developmentDependency="true" />
  <package id="hidlibrary" version="3.3.40" targetFramework="net45" />
  <package id="KeraLua" version="1.2.6" targetFramework="net45" />
  <package id="NLua" version="1.5.1" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="3.2.9" targetFramework="net45" />
</packages>